node_modules/
build/
tmp/
.git/
.env
.env.test
.env.example
README.md
database/*.sqlite3
npm-debug.log
yarn-error.log
.editorconfig
.prettierignore
eslint.config.js
tailwind.config.js
components.json
srs/
flow/
design/
supabase/
